body{
color: rgb(236, 236, 236);
background-color: black;
background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20231027/pngtree-hexagonal-abstract-background-with-a-black-textured-surface-image_13704307.png);
background-repeat: no-repeat;
background-size: cover;
margin-left: 50px;
margin-top: 50px;
text-shadow: 2px 2px 5px red;
border: 2px solid rgb(148, 132, 132);
padding: 10px;
border-radius: 25px;
padding: 100px;
}
div{
    font-size: x-large;
}
.new{
    border-radius: 10px;
    width: 200px;

}
button{
padding: 15px;
border-radius: 20px;
background-color: rgb(224, 229, 233);
a{
    text-decoration:none
}
}