body {
    color: rgb(236, 236, 236);
    background-color: black;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20231027/pngtree-hexagonal-abstract-background-with-a-black-textured-surface-image_13704307.png);
    background-repeat: no-repeat;
    background-size: cover;


}

.div1 {
    font-size: x-large;
}

.div4 {
    display: flex;
    justify-content:space-between;
    padding-right: 60px;
}

.div2 {
    display: flex;
    align-items: center;
    justify-content: end;

}

.post1{
    font-size: 200px;
}

.name{
    font-weight: bolder;
    font-size: 60px;
}

.new {
    border-radius: 10px;
    width: 250px;
    margin-bottom: 35px;

}

.head3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: rgb(211, 208, 208);
    padding: 40px;

}
.but{
    font-size: 30px;
}
.head2 {
    display: flex;
    font-size: larger;
    gap: 10px;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    text-underline-offset: 20%;

}

.head2 a {
    text-decoration: none;
    color: rgb(0, 0, 0);

}

a:hover {
    text-decoration: underline;
}

.head1 {
    font-size: x-large;
    color: black;
    font-weight: bolder;
    font-size: xx-large;
}

.div5 {
    padding: 50px;

}
a {
    text-decoration: none;

}

button {
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(224, 229, 233);
    
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  
    padding: 10px;
    gap:70px;
  }

  .grid-item {
   
  
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
.grid-item img{
    width: 400px;
    border-radius: 10px;
    height:230px;
}
.class1{
    font-weight: 300;
    margin-left: 13;
}
.gallery{
    width:100%;
  text-align: center;
  font-size: 70px;
  padding-bottom: 40px;
}
  